In [156]:
import numpy as np
import pandas as pd
import pickle

import matplotlib.pyplot as plt
import seaborn as sb


from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score



import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras.preprocessing import image
from keras.wrappers.scikit_learn import KerasClassifier

## Loading the dataframe
Loading the dataframe from the pickle file which was exported from Pre processing stage

In [132]:
with open("data/df.pkl",'rb') as file:
    df = pickle.load(file)

df

,Name,GFA,BType,Energy,WeekDay,Hour,TAVG,TMIN,TMAX,Sem
0,Piper Writing Center,4314.0,Academic,1.402795493602753,1,00:00:00,43.0,38,51,0
1,Piper Writing Center,4314.0,Academic,2.6063907146453857,1,01:00:00,43.0,38,51,0
2,Piper Writing Center,4314.0,Academic,0.8264167606830597,1,02:00:00,43.0,38,51,0
3,Piper Writing Center,4314.0,Academic,0.831238254904747,1,03:00:00,43.0,38,51,0
4,Piper Writing Center,4314.0,Academic,4.9978625774383545,1,04:00:00,43.0,38,51,0
...,...,...,...,...,...,...,...,...,...,...
602573,San Pablo,77484.0,Housing,51.58279991149902,1,19:00:00,54.0,45,59,0
602574,San Pablo,77484.0,Housing,52.42500019073486,1,20:00:00,54.0,45,59,0
602575,San Pablo,77484.0,Housing,50.46094989776611,1,21:00:00,54.0,45,59,0
602576,San Pablo,77484.0,Housing,51.54427433013916,1,22:00:00,54.0,45,59,0
602577,San Pablo,77484.0,Housing,49.68022441864014,1,23:00:00,54.0,45,59,0

# Data Understanding and Transformation

In [133]:
df.dtypes

Name        object
GFA        float64
BType       object
Energy      object
WeekDay      int64
Hour        object
TAVG       float64
TMIN         int64
TMAX         int64
Sem          int64
dtype: object

Converting Energy datatype from string to float

In [134]:
df['Energy'] = df['Energy'].apply(lambda x:float(x)).round(1)

#### Checking for negative and missing values for energy

In [135]:
df.loc[df['Energy']<0,['Energy']].count()

Energy    205
dtype: int64

In [136]:
df.loc[df['Energy']<0,['Name']].nunique()

Name    2
dtype: int64

In [137]:
df.isna().sum()

Name           0
GFA        17520
BType      17520
Energy         0
WeekDay        0
Hour           0
TAVG           0
TMIN           0
TMAX           0
Sem            0
dtype: int64

#### Removing the negative and missing values

In [138]:
df = df[df['Energy']>0].dropna()

In [139]:
df['Energy'].describe()

count    571373.000000
mean        109.248414
std         121.975879
min           0.100000
25%          34.900000
50%          66.100000
75%         137.100000
max         757.300000
Name: Energy, dtype: float64

In [140]:
df['Energy'].apply(lambda x:x)

0          1.4
1          2.6
2          0.8
3          0.8
4          5.0
          ...
602573    51.6
602574    52.4
602575    50.5
602576    51.5
602577    49.7
Name: Energy, Length: 571373, dtype: float64

In [141]:
with open('Data/df_cleaned.pkl','wb') as file:
    pickle.dump(df,file)

In [142]:
df

,Name,GFA,BType,Energy,WeekDay,Hour,TAVG,TMIN,TMAX,Sem
0,Piper Writing Center,4314.0,Academic,1.4,1,00:00:00,43.0,38,51,0
1,Piper Writing Center,4314.0,Academic,2.6,1,01:00:00,43.0,38,51,0
2,Piper Writing Center,4314.0,Academic,0.8,1,02:00:00,43.0,38,51,0
3,Piper Writing Center,4314.0,Academic,0.8,1,03:00:00,43.0,38,51,0
4,Piper Writing Center,4314.0,Academic,5.0,1,04:00:00,43.0,38,51,0
...,...,...,...,...,...,...,...,...,...,...
602573,San Pablo,77484.0,Housing,51.6,1,19:00:00,54.0,45,59,0
602574,San Pablo,77484.0,Housing,52.4,1,20:00:00,54.0,45,59,0
602575,San Pablo,77484.0,Housing,50.5,1,21:00:00,54.0,45,59,0
602576,San Pablo,77484.0,Housing,51.5,1,22:00:00,54.0,45,59,0
602577,San Pablo,77484.0,Housing,49.7,1,23:00:00,54.0,45,59,0

# One hot encoding Categorical

In [165]:
BTypeDF = pd.get_dummies(df['BType'],prefix='BType')
HourDF = pd.get_dummies(df['Hour'],prefix='Hour')
df = pd.concat([df,BTypeDF,HourDF],axis =1)
df

,Name,GFA,BType,Energy,WeekDay,Hour,TAVG,TMIN,TMAX,Sem,...,Hour_14:00:00,Hour_15:00:00,Hour_16:00:00,Hour_17:00:00,Hour_18:00:00,Hour_19:00:00,Hour_20:00:00,Hour_21:00:00,Hour_22:00:00,Hour_23:00:00
0,Piper Writing Center,4314.0,Academic,1.4,1,00:00:00,43.0,38,51,0,...,0,0,0,0,0,0,0,0,0,0
1,Piper Writing Center,4314.0,Academic,2.6,1,01:00:00,43.0,38,51,0,...,0,0,0,0,0,0,0,0,0,0
2,Piper Writing Center,4314.0,Academic,0.8,1,02:00:00,43.0,38,51,0,...,0,0,0,0,0,0,0,0,0,0
3,Piper Writing Center,4314.0,Academic,0.8,1,03:00:00,43.0,38,51,0,...,0,0,0,0,0,0,0,0,0,0
4,Piper Writing Center,4314.0,Academic,5.0,1,04:00:00,43.0,38,51,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602573,San Pablo,77484.0,Housing,51.6,1,19:00:00,54.0,45,59,0,...,0,0,0,0,0,1,0,0,0,0
602574,San Pablo,77484.0,Housing,52.4,1,20:00:00,54.0,45,59,0,...,0,0,0,0,0,0,1,0,0,0
602575,San Pablo,77484.0,Housing,50.5,1,21:00:00,54.0,45,59,0,...,0,0,0,0,0,0,0,1,0,0
602576,San Pablo,77484.0,Housing,51.5,1,22:00:00,54.0,45,59,0,...,0,0,0,0,0,0,0,0,1,0
602577,San Pablo,77484.0,Housing,49.7,1,23:00:00,54.0,45,59,0,...,0,0,0,0,0,0,0,0,0,1

# Prediction Modeling

## Simple Linear Regression

In [9]:
values = df.drop(['TMIN','TMAX','Name','Hour'],axis=1).values

#scaling

scaler = MinMaxScaler(feature_range = (0,1))
ScaledValues = pd.DataFrame(scaler.fit_transform(values))
X = ScaledValues

In [ ]:
#ran the model on EC2 instance for performance

LinReg = LinearRegression(normalize = True)
LinReg.fit(X,y)
score  = LinReg.score(X,y)

In [146]:
file = open("Data/linear.pkl",'rb')
score = pickle.load(file)

score

0.1330667617808884

## Neural Networks

In [179]:
featureData = df.drop(['Energy','Name','BType','Hour'],axis=1).values

#scaling

scaler = MinMaxScaler(feature_range = (0,1))
X = scaler.fit_transform(featureData)

In [180]:
X.shape

(571373, 34)

In [177]:
Energy = df['Energy'].values

bins = np.linspace(0,1000,20)
Energy = pd.cut(Energy,bins,labels = False)

In [167]:
EnergyDF =pd.DataFrame(Energy)
EnergyDF.nunique()

0    15
dtype: int64

In [178]:
y = pd.get_dummies(Energy,prefix='Energy')
y

,Energy_0,Energy_1,Energy_2,Energy_3,Energy_4,Energy_5,Energy_6,Energy_7,Energy_8,Energy_9,Energy_10,Energy_11,Energy_12,Energy_13,Energy_14
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571368,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
571369,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
571370,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
571371,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
571372,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Initializing and parameter tuning

In [181]:
model3 = Sequential()
model3.add(Dense(50,input_dim=34,activation='relu', name = 'layer_1'))
model3.add(Dense(20,activation='relu',name = 'layer_2'))
model3.add(Dropout(0.5))
model3.add(Dense(15,activation='softmax',name = 'output_layer'))

model3.compile(loss='categorical_crossentropy', optimizer='SGD', metrics=['accuracy'])

In [182]:
model3.fit(X,y,epochs=100,shuffle=True,verbose=2)

error_rate,accuracy = model3.evaluate(X,y,verbose=0)

Epoch 1/100
17856/17856 - 12s - loss: 1.5295 - accuracy: 0.4518
Epoch 2/100
17856/17856 - 11s - loss: 1.3775 - accuracy: 0.5010
Epoch 3/100
17856/17856 - 12s - loss: 1.3552 - accuracy: 0.5077
Epoch 4/100
17856/17856 - 12s - loss: 1.3388 - accuracy: 0.5148
Epoch 5/100
17856/17856 - 12s - loss: 1.3222 - accuracy: 0.5211
Epoch 6/100
17856/17856 - 12s - loss: 1.3057 - accuracy: 0.5243
Epoch 7/100
17856/17856 - 12s - loss: 1.2897 - accuracy: 0.5280
Epoch 8/100
17856/17856 - 11s - loss: 1.2788 - accuracy: 0.5303
Epoch 9/100
17856/17856 - 12s - loss: 1.2684 - accuracy: 0.5331
Epoch 10/100
17856/17856 - 12s - loss: 1.2592 - accuracy: 0.5360
Epoch 11/100
17856/17856 - 12s - loss: 1.2519 - accuracy: 0.5386
Epoch 12/100
17856/17856 - 12s - loss: 1.2454 - accuracy: 0.5399
Epoch 13/100
17856/17856 - 12s - loss: 1.2373 - accuracy: 0.5434
Epoch 14/100
17856/17856 - 12s - loss: 1.2319 - accuracy: 0.5447
Epoch 15/100
17856/17856 - 11s - loss: 1.2273 - accuracy: 0.5462
Epoch 16/100
17856/17856 - 12s - loss: 1.2229 - accuracy: 0.5474
Epoch 17/100
17856/17856 - 12s - loss: 1.2177 - accuracy: 0.5485
Epoch 18/100
17856/17856 - 12s - loss: 1.2135 - accuracy: 0.5504
Epoch 19/100
17856/17856 - 12s - loss: 1.2099 - accuracy: 0.5509
Epoch 20/100
17856/17856 - 12s - loss: 1.2065 - accuracy: 0.5514
Epoch 21/100
17856/17856 - 11s - loss: 1.2026 - accuracy: 0.5524
Epoch 22/100
17856/17856 - 12s - loss: 1.1990 - accuracy: 0.5530
Epoch 23/100
17856/17856 - 12s - loss: 1.1958 - accuracy: 0.5529
Epoch 24/100
17856/17856 - 12s - loss: 1.1922 - accuracy: 0.5542
Epoch 25/100
17856/17856 - 11s - loss: 1.1911 - accuracy: 0.5543
Epoch 26/100
17856/17856 - 11s - loss: 1.1874 - accuracy: 0.5557
Epoch 27/100
17856/17856 - 12s - loss: 1.1859 - accuracy: 0.5557
Epoch 28/100
17856/17856 - 12s - loss: 1.1839 - accuracy: 0.5555
Epoch 29/100
17856/17856 - 12s - loss: 1.1821 - accuracy: 0.5561
Epoch 30/100
17856/17856 - 12s - loss: 1.1792 - accuracy: 0.5565
Epoch 31/100
17856/17856 - 12s - loss: 1.1772 - accuracy: 0.5564
Epoch 32/100
17856/17856 - 12s - loss: 1.1755 - accuracy: 0.5575
Epoch 33/100
17856/17856 - 12s - loss: 1.1748 - accuracy: 0.5561
Epoch 34/100
17856/17856 - 12s - loss: 1.1735 - accuracy: 0.5566
Epoch 35/100
17856/17856 - 12s - loss: 1.1717 - accuracy: 0.5570
Epoch 36/100
17856/17856 - 12s - loss: 1.1707 - accuracy: 0.5574
Epoch 37/100
17856/17856 - 12s - loss: 1.1696 - accuracy: 0.5570
Epoch 38/100
17856/17856 - 12s - loss: 1.1688 - accuracy: 0.5583
Epoch 39/100
17856/17856 - 12s - loss: 1.1670 - accuracy: 0.5576
Epoch 40/100
17856/17856 - 11s - loss: 1.1656 - accuracy: 0.5586
Epoch 41/100
17856/17856 - 11s - loss: 1.1652 - accuracy: 0.5588
Epoch 42/100
17856/17856 - 11s - loss: 1.1654 - accuracy: 0.5576
Epoch 43/100
17856/17856 - 12s - loss: 1.1631 - accuracy: 0.5593
Epoch 44/100
17856/17856 - 12s - loss: 1.1630 - accuracy: 0.5590
Epoch 45/100
17856/17856 - 12s - loss: 1.1620 - accuracy: 0.5585
Epoch 46/100
17856/17856 - 12s - loss: 1.1606 - accuracy: 0.5595
Epoch 47/100
17856/17856 - 12s - loss: 1.1603 - accuracy: 0.5587
Epoch 48/100
17856/17856 - 12s - loss: 1.1583 - accuracy: 0.5591
Epoch 49/100
17856/17856 - 12s - loss: 1.1586 - accuracy: 0.5590
Epoch 50/100
17856/17856 - 12s - loss: 1.1557 - accuracy: 0.5597
Epoch 51/100
17856/17856 - 12s - loss: 1.1540 - accuracy: 0.5592
Epoch 52/100
17856/17856 - 12s - loss: 1.1543 - accuracy: 0.5592
Epoch 53/100
17856/17856 - 12s - loss: 1.1524 - accuracy: 0.5591
Epoch 54/100
17856/17856 - 12s - loss: 1.1514 - accuracy: 0.5595
Epoch 55/100
17856/17856 - 12s - loss: 1.1498 - accuracy: 0.5597
Epoch 56/100
17856/17856 - 12s - loss: 1.1490 - accuracy: 0.5596
Epoch 57/100
17856/17856 - 13s - loss: 1.1480 - accuracy: 0.5600
Epoch 58/100
17856/17856 - 12s - loss: 1.1462 - accuracy: 0.5597
Epoch 59/100
17856/17856 - 12s - loss: 1.1451 - accuracy: 0.5604
Epoch 60/100
17856/17856 - 12s - loss: 1.1438 - accuracy: 0.5607
Epoch 61/100
17856/17856 - 12s - loss: 1.1432 - accuracy: 0.5620
Epoch 62/100
17856/17856 - 12s - loss: 1.1420 - accuracy: 0.5612
Epoch 63/100
17856/17856 - 12s - loss: 1.1414 - accuracy: 0.5613
Epoch 64/100
17856/17856 - 16s - loss: 1.1401 - accuracy: 0.5617
Epoch 65/100
17856/17856 - 15s - loss: 1.1397 - accuracy: 0.5620
Epoch 66/100
17856/17856 - 14s - loss: 1.1395 - accuracy: 0.5621
Epoch 67/100
17856/17856 - 13s - loss: 1.1386 - accuracy: 0.5626
Epoch 68/100
17856/17856 - 13s - loss: 1.1374 - accuracy: 0.5626
Epoch 69/100
17856/17856 - 17s - loss: 1.1371 - accuracy: 0.5627
Epoch 70/100
17856/17856 - 16s - loss: 1.1364 - accuracy: 0.5627
Epoch 71/100
17856/17856 - 12s - loss: 1.1362 - accuracy: 0.5628
Epoch 72/100
17856/17856 - 14s - loss: 1.1353 - accuracy: 0.5624
Epoch 73/100
17856/17856 - 13s - loss: 1.1349 - accuracy: 0.5624
Epoch 74/100
17856/17856 - 12s - loss: 1.1335 - accuracy: 0.5630
Epoch 75/100
17856/17856 - 12s - loss: 1.1339 - accuracy: 0.5635
Epoch 76/100
17856/17856 - 13s - loss: 1.1326 - accuracy: 0.5634
Epoch 77/100
17856/17856 - 12s - loss: 1.1326 - accuracy: 0.5632
Epoch 78/100
17856/17856 - 12s - loss: 1.1306 - accuracy: 0.5640
Epoch 79/100
17856/17856 - 12s - loss: 1.1313 - accuracy: 0.5638
Epoch 80/100
17856/17856 - 12s - loss: 1.1296 - accuracy: 0.5644
Epoch 81/100
17856/17856 - 12s - loss: 1.1298 - accuracy: 0.5637
Epoch 82/100
17856/17856 - 12s - loss: 1.1298 - accuracy: 0.5638
Epoch 83/100
17856/17856 - 12s - loss: 1.1288 - accuracy: 0.5636
Epoch 84/100
17856/17856 - 12s - loss: 1.1284 - accuracy: 0.5643
Epoch 85/100
17856/17856 - 12s - loss: 1.1280 - accuracy: 0.5644
Epoch 86/100
17856/17856 - 12s - loss: 1.1278 - accuracy: 0.5644
Epoch 87/100
17856/17856 - 12s - loss: 1.1266 - accuracy: 0.5641
Epoch 88/100
17856/17856 - 14s - loss: 1.1273 - accuracy: 0.5648
Epoch 89/100
17856/17856 - 13s - loss: 1.1266 - accuracy: 0.5647
Epoch 90/100
17856/17856 - 13s - loss: 1.1262 - accuracy: 0.5650
Epoch 91/100
17856/17856 - 12s - loss: 1.1260 - accuracy: 0.5645
Epoch 92/100
17856/17856 - 13s - loss: 1.1247 - accuracy: 0.5648
Epoch 93/100
17856/17856 - 12s - loss: 1.1238 - accuracy: 0.5650
Epoch 94/100
17856/17856 - 12s - loss: 1.1249 - accuracy: 0.5649
Epoch 95/100
17856/17856 - 12s - loss: 1.1248 - accuracy: 0.5643
Epoch 96/100
17856/17856 - 12s - loss: 1.1242 - accuracy: 0.5651
Epoch 97/100
17856/17856 - 12s - loss: 1.1238 - accuracy: 0.5655
Epoch 98/100
17856/17856 - 12s - loss: 1.1231 - accuracy: 0.5652
Epoch 99/100
17856/17856 - 12s - loss: 1.1225 - accuracy: 0.5652
Epoch 100/100
17856/17856 - 12s - loss: 1.1225 - accuracy: 0.5650

### Evaluating with K fold Cross validation

In [ ]:
#Building the model and evaluating using K fold cross validation
'''
RunName = 'model4'
def createmodel():
    model = Sequential()
    model.add(Dense(10,input_dim=59,activation='relu'))
    modle.add(Dense(5,activation='relu'))
    model.add(Dense(3,activation='softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

seed = 7
np.random.seed(seed)

model = KerasClassifier(build_fn = createmodel,epochs = 50, batch_size = 10, verbose = 0)
kfold = KFold(n_splits=10, shuffle=True, random_state=seed)
results = cross_val_score(model, X, y, cv=kfold)
print(results.mean())'''