In [1]:
import numpy as np
import pandas as pd
import pickle

import matplotlib.pyplot as plt
import seaborn as sb


from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score



import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras.preprocessing import image
from keras.wrappers.scikit_learn import KerasClassifier

## Loading the dataframe
Loading the dataframe from the pickle file which was exported from Pre processing stage

In [2]:
with open("/Volumes/Macintosh HD - Data/Users/admin/Documents/HD Drive/DataProjects/EnergyInnovations-ML/Data/df_cleaned.pkl",'rb') as file:
    df = pickle.load(file)

df

,Name,GFA,BType,Energy,WeekDay,Hour,TAVG,TMIN,TMAX,Sem
0,Piper Writing Center,4314.0,Academic,1.4,1,00:00:00,43.0,38,51,0
1,Piper Writing Center,4314.0,Academic,2.6,1,01:00:00,43.0,38,51,0
2,Piper Writing Center,4314.0,Academic,0.8,1,02:00:00,43.0,38,51,0
3,Piper Writing Center,4314.0,Academic,0.8,1,03:00:00,43.0,38,51,0
4,Piper Writing Center,4314.0,Academic,5.0,1,04:00:00,43.0,38,51,0
...,...,...,...,...,...,...,...,...,...,...
602573,San Pablo,77484.0,Housing,51.6,1,19:00:00,54.0,45,59,0
602574,San Pablo,77484.0,Housing,52.4,1,20:00:00,54.0,45,59,0
602575,San Pablo,77484.0,Housing,50.5,1,21:00:00,54.0,45,59,0
602576,San Pablo,77484.0,Housing,51.5,1,22:00:00,54.0,45,59,0
602577,San Pablo,77484.0,Housing,49.7,1,23:00:00,54.0,45,59,0

# Data Understanding and Transformation

In [133]:
df.dtypes

Name        object
GFA        float64
BType       object
Energy      object
WeekDay      int64
Hour        object
TAVG       float64
TMIN         int64
TMAX         int64
Sem          int64
dtype: object

Converting Energy datatype from string to float

In [3]:
df['Energy'] = df['Energy'].apply(lambda x:float(x)).round(1)

#### Checking for negative and missing values for energy

In [4]:
df.loc[df['Energy']<0,['Energy']].count()

Energy    0
dtype: int64

In [5]:
df.loc[df['Energy']<0,['Name']].nunique()

Name    0
dtype: int64

In [6]:
df.isna().sum()

Name       0
GFA        0
BType      0
Energy     0
WeekDay    0
Hour       0
TAVG       0
TMIN       0
TMAX       0
Sem        0
dtype: int64

#### Removing the negative and missing values

In [7]:
df = df[df['Energy']>0].dropna()

In [8]:
df['Energy'].describe()

count    571373.000000
mean        109.248414
std         121.975879
min           0.100000
25%          34.900000
50%          66.100000
75%         137.100000
max         757.300000
Name: Energy, dtype: float64

In [9]:
df['Energy'].apply(lambda x:x)

0          1.4
1          2.6
2          0.8
3          0.8
4          5.0
          ...
602573    51.6
602574    52.4
602575    50.5
602576    51.5
602577    49.7
Name: Energy, Length: 571373, dtype: float64

In [ ]:
'''
with open('Data/df_cleaned.pkl','wb') as file:
    pickle.dump(df,file)
'''

In [11]:
df

,Name,GFA,BType,Energy,WeekDay,Hour,TAVG,TMIN,TMAX,Sem
0,Piper Writing Center,4314.0,Academic,1.4,1,00:00:00,43.0,38,51,0
1,Piper Writing Center,4314.0,Academic,2.6,1,01:00:00,43.0,38,51,0
2,Piper Writing Center,4314.0,Academic,0.8,1,02:00:00,43.0,38,51,0
3,Piper Writing Center,4314.0,Academic,0.8,1,03:00:00,43.0,38,51,0
4,Piper Writing Center,4314.0,Academic,5.0,1,04:00:00,43.0,38,51,0
...,...,...,...,...,...,...,...,...,...,...
602573,San Pablo,77484.0,Housing,51.6,1,19:00:00,54.0,45,59,0
602574,San Pablo,77484.0,Housing,52.4,1,20:00:00,54.0,45,59,0
602575,San Pablo,77484.0,Housing,50.5,1,21:00:00,54.0,45,59,0
602576,San Pablo,77484.0,Housing,51.5,1,22:00:00,54.0,45,59,0
602577,San Pablo,77484.0,Housing,49.7,1,23:00:00,54.0,45,59,0

# One hot encoding Categorical

In [12]:
BTypeDF = pd.get_dummies(df['BType'],prefix='BType')
HourDF = pd.get_dummies(df['Hour'],prefix='Hour')
df = pd.concat([df,BTypeDF,HourDF],axis =1)
df

,Name,GFA,BType,Energy,WeekDay,Hour,TAVG,TMIN,TMAX,Sem,...,Hour_14:00:00,Hour_15:00:00,Hour_16:00:00,Hour_17:00:00,Hour_18:00:00,Hour_19:00:00,Hour_20:00:00,Hour_21:00:00,Hour_22:00:00,Hour_23:00:00
0,Piper Writing Center,4314.0,Academic,1.4,1,00:00:00,43.0,38,51,0,...,0,0,0,0,0,0,0,0,0,0
1,Piper Writing Center,4314.0,Academic,2.6,1,01:00:00,43.0,38,51,0,...,0,0,0,0,0,0,0,0,0,0
2,Piper Writing Center,4314.0,Academic,0.8,1,02:00:00,43.0,38,51,0,...,0,0,0,0,0,0,0,0,0,0
3,Piper Writing Center,4314.0,Academic,0.8,1,03:00:00,43.0,38,51,0,...,0,0,0,0,0,0,0,0,0,0
4,Piper Writing Center,4314.0,Academic,5.0,1,04:00:00,43.0,38,51,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602573,San Pablo,77484.0,Housing,51.6,1,19:00:00,54.0,45,59,0,...,0,0,0,0,0,1,0,0,0,0
602574,San Pablo,77484.0,Housing,52.4,1,20:00:00,54.0,45,59,0,...,0,0,0,0,0,0,1,0,0,0
602575,San Pablo,77484.0,Housing,50.5,1,21:00:00,54.0,45,59,0,...,0,0,0,0,0,0,0,1,0,0
602576,San Pablo,77484.0,Housing,51.5,1,22:00:00,54.0,45,59,0,...,0,0,0,0,0,0,0,0,1,0
602577,San Pablo,77484.0,Housing,49.7,1,23:00:00,54.0,45,59,0,...,0,0,0,0,0,0,0,0,0,1

# Prediction Modeling

## Simple Linear Regression

In [9]:
values = df.drop(['TMIN','TMAX','Name','Hour'],axis=1).values

#scaling

scaler = MinMaxScaler(feature_range = (0,1))
ScaledValues = pd.DataFrame(scaler.fit_transform(values))
X = ScaledValues

In [ ]:
#ran the model on EC2 instance for performance

LinReg = LinearRegression(normalize = True)
LinReg.fit(X,y)
score  = LinReg.score(X,y)

In [146]:
file = open("Data/linear.pkl",'rb')
score = pickle.load(file)

score

0.1330667617808884

## Neural Networks

In [13]:
featureData = df.drop(['Energy','Name','BType','Hour'],axis=1).values

#scaling

scaler = MinMaxScaler(feature_range = (0,1))
X = scaler.fit_transform(featureData)

In [14]:
X.shape

(571373, 34)

In [15]:
Energy = df['Energy'].values

bins = np.linspace(0,1000,20)
Energy = pd.cut(Energy,bins,labels = False)

In [16]:
EnergyDF =pd.DataFrame(Energy)
EnergyDF.nunique()

0    15
dtype: int64

In [17]:
y = pd.get_dummies(Energy,prefix='Energy')
y

,Energy_0,Energy_1,Energy_2,Energy_3,Energy_4,Energy_5,Energy_6,Energy_7,Energy_8,Energy_9,Energy_10,Energy_11,Energy_12,Energy_13,Energy_14
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571368,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
571369,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
571370,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
571371,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
571372,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Initializing and parameter tuning

In [25]:
model3 = Sequential()
model3.add(Dense(200,input_dim=34,activation='relu', name = 'layer_1'))
model3.add(Dense(130,activation='relu', name = 'layer_2'))
model3.add(Dropout(0.5))
model3.add(Dense(80,activation='relu',name = 'layer_3'))
model3.add(Dense(80,activation='relu',name = 'layer_4'))
model3.add(Dense(15,activation='softmax',name = 'output_layer'))

model3.compile(loss='categorical_crossentropy', optimizer='SGD', metrics=['accuracy'])

In [26]:
model3.fit(X,y,epochs=150,shuffle=True,verbose=2)

error_rate,accuracy = model3.evaluate(X,y,verbose=0)

Epoch 1/150
17856/17856 - 19s - loss: 1.3935 - accuracy: 0.4962
Epoch 2/150
17856/17856 - 28s - loss: 1.2084 - accuracy: 0.5577
Epoch 3/150
17856/17856 - 21s - loss: 1.1499 - accuracy: 0.5745
Epoch 4/150
17856/17856 - 20s - loss: 1.1117 - accuracy: 0.5852
Epoch 5/150
17856/17856 - 19s - loss: 1.0815 - accuracy: 0.5938
Epoch 6/150
17856/17856 - 21s - loss: 1.0545 - accuracy: 0.6025
Epoch 7/150
17856/17856 - 20s - loss: 1.0323 - accuracy: 0.6080
Epoch 8/150
17856/17856 - 19s - loss: 1.0126 - accuracy: 0.6114
Epoch 9/150
17856/17856 - 20s - loss: 0.9956 - accuracy: 0.6150
Epoch 10/150
17856/17856 - 21s - loss: 0.9792 - accuracy: 0.6189
Epoch 11/150
17856/17856 - 22s - loss: 0.9668 - accuracy: 0.6210
Epoch 12/150
17856/17856 - 21s - loss: 0.9530 - accuracy: 0.6232
Epoch 13/150
17856/17856 - 20s - loss: 0.9413 - accuracy: 0.6262
Epoch 14/150
17856/17856 - 20s - loss: 0.9312 - accuracy: 0.6289
Epoch 15/150
17856/17856 - 19s - loss: 0.9219 - accuracy: 0.6302
Epoch 16/150
17856/17856 - 20s - loss: 0.9113 - accuracy: 0.6327
Epoch 17/150
17856/17856 - 20s - loss: 0.9052 - accuracy: 0.6338
Epoch 18/150
17856/17856 - 21s - loss: 0.8986 - accuracy: 0.6357
Epoch 19/150
17856/17856 - 22s - loss: 0.8939 - accuracy: 0.6372
Epoch 20/150
17856/17856 - 23s - loss: 0.8873 - accuracy: 0.6384
Epoch 21/150
17856/17856 - 22s - loss: 0.8791 - accuracy: 0.6409
Epoch 22/150
17856/17856 - 19s - loss: 0.8744 - accuracy: 0.6427
Epoch 23/150
17856/17856 - 19s - loss: 0.8673 - accuracy: 0.6447
Epoch 24/150
17856/17856 - 18s - loss: 0.8617 - accuracy: 0.6462
Epoch 25/150
17856/17856 - 19s - loss: 0.8577 - accuracy: 0.6469
Epoch 26/150
17856/17856 - 18s - loss: 0.8533 - accuracy: 0.6487
Epoch 27/150
17856/17856 - 18s - loss: 0.8478 - accuracy: 0.6506
Epoch 28/150
17856/17856 - 18s - loss: 0.8445 - accuracy: 0.6512
Epoch 29/150
17856/17856 - 18s - loss: 0.8416 - accuracy: 0.6521
Epoch 30/150
17856/17856 - 18s - loss: 0.8386 - accuracy: 0.6528
Epoch 31/150
17856/17856 - 18s - loss: 0.8346 - accuracy: 0.6546
Epoch 32/150
17856/17856 - 19s - loss: 0.8317 - accuracy: 0.6549
Epoch 33/150
17856/17856 - 18s - loss: 0.8279 - accuracy: 0.6556
Epoch 34/150
17856/17856 - 18s - loss: 0.8244 - accuracy: 0.6569
Epoch 35/150
17856/17856 - 18s - loss: 0.8248 - accuracy: 0.6569
Epoch 36/150
17856/17856 - 18s - loss: 0.8203 - accuracy: 0.6582
Epoch 37/150
17856/17856 - 18s - loss: 0.8165 - accuracy: 0.6597
Epoch 38/150
17856/17856 - 19s - loss: 0.8142 - accuracy: 0.6603
Epoch 39/150
17856/17856 - 18s - loss: 0.8124 - accuracy: 0.6601
Epoch 40/150
17856/17856 - 21s - loss: 0.8119 - accuracy: 0.6609
Epoch 41/150
17856/17856 - 21s - loss: 0.8080 - accuracy: 0.6626
Epoch 42/150
17856/17856 - 18s - loss: 0.8067 - accuracy: 0.6630
Epoch 43/150
17856/17856 - 19s - loss: 0.8043 - accuracy: 0.6636
Epoch 44/150
17856/17856 - 18s - loss: 0.8015 - accuracy: 0.6643
Epoch 45/150
17856/17856 - 18s - loss: 0.7997 - accuracy: 0.6646
Epoch 46/150
17856/17856 - 18s - loss: 0.7988 - accuracy: 0.6650
Epoch 47/150
17856/17856 - 18s - loss: 0.7968 - accuracy: 0.6655
Epoch 48/150
17856/17856 - 18s - loss: 0.7949 - accuracy: 0.6662
Epoch 49/150
17856/17856 - 18s - loss: 0.7925 - accuracy: 0.6669
Epoch 50/150
17856/17856 - 18s - loss: 0.7916 - accuracy: 0.6668
Epoch 51/150
17856/17856 - 19s - loss: 0.7896 - accuracy: 0.6678
Epoch 52/150
17856/17856 - 19s - loss: 0.7882 - accuracy: 0.6680
Epoch 53/150
17856/17856 - 18s - loss: 0.7864 - accuracy: 0.6686
Epoch 54/150
17856/17856 - 19s - loss: 0.7851 - accuracy: 0.6693
Epoch 55/150
17856/17856 - 18s - loss: 0.7849 - accuracy: 0.6695
Epoch 56/150
17856/17856 - 19s - loss: 0.7815 - accuracy: 0.6697
Epoch 57/150
17856/17856 - 18s - loss: 0.7807 - accuracy: 0.6704
Epoch 58/150
17856/17856 - 19s - loss: 0.7798 - accuracy: 0.6708
Epoch 59/150
17856/17856 - 18s - loss: 0.7782 - accuracy: 0.6716
Epoch 60/150
17856/17856 - 18s - loss: 0.7765 - accuracy: 0.6718
Epoch 61/150
17856/17856 - 18s - loss: 0.7763 - accuracy: 0.6718
Epoch 62/150
17856/17856 - 18s - loss: 0.7747 - accuracy: 0.6727
Epoch 63/150
17856/17856 - 18s - loss: 0.7748 - accuracy: 0.6719
Epoch 64/150
17856/17856 - 19s - loss: 0.7723 - accuracy: 0.6732
Epoch 65/150
17856/17856 - 18s - loss: 0.7719 - accuracy: 0.6740
Epoch 66/150
17856/17856 - 18s - loss: 0.7690 - accuracy: 0.6738
Epoch 67/150
17856/17856 - 18s - loss: 0.7697 - accuracy: 0.6735
Epoch 68/150
17856/17856 - 18s - loss: 0.7679 - accuracy: 0.6742
Epoch 69/150
17856/17856 - 22s - loss: 0.7659 - accuracy: 0.6749
Epoch 70/150
17856/17856 - 21s - loss: 0.7664 - accuracy: 0.6753
Epoch 71/150
17856/17856 - 20s - loss: 0.7645 - accuracy: 0.6755
Epoch 72/150
17856/17856 - 18s - loss: 0.7648 - accuracy: 0.6760
Epoch 73/150
17856/17856 - 18s - loss: 0.7629 - accuracy: 0.6762
Epoch 74/150
17856/17856 - 23s - loss: 0.7616 - accuracy: 0.6773
Epoch 75/150
17856/17856 - 24s - loss: 0.7599 - accuracy: 0.6766
Epoch 76/150
17856/17856 - 21s - loss: 0.7615 - accuracy: 0.6767
Epoch 77/150
17856/17856 - 20s - loss: 0.7600 - accuracy: 0.6777
Epoch 78/150
17856/17856 - 20s - loss: 0.7584 - accuracy: 0.6772
Epoch 79/150
17856/17856 - 20s - loss: 0.7579 - accuracy: 0.6778
Epoch 80/150
17856/17856 - 21s - loss: 0.7577 - accuracy: 0.6782
Epoch 81/150
17856/17856 - 20s - loss: 0.7550 - accuracy: 0.6785
Epoch 82/150
17856/17856 - 20s - loss: 0.7555 - accuracy: 0.6786
Epoch 83/150
17856/17856 - 20s - loss: 0.7542 - accuracy: 0.6791
Epoch 84/150
17856/17856 - 21s - loss: 0.7538 - accuracy: 0.6796
Epoch 85/150
17856/17856 - 23s - loss: 0.7530 - accuracy: 0.6794
Epoch 86/150
17856/17856 - 24s - loss: 0.7518 - accuracy: 0.6800
Epoch 87/150
17856/17856 - 24s - loss: 0.7512 - accuracy: 0.6792
Epoch 88/150
17856/17856 - 24s - loss: 0.7514 - accuracy: 0.6801
Epoch 89/150
17856/17856 - 23s - loss: 0.7498 - accuracy: 0.6813
Epoch 90/150
17856/17856 - 24s - loss: 0.7499 - accuracy: 0.6807
Epoch 91/150
17856/17856 - 24s - loss: 0.7490 - accuracy: 0.6809
Epoch 92/150
17856/17856 - 23s - loss: 0.7481 - accuracy: 0.6810
Epoch 93/150
17856/17856 - 25s - loss: 0.7462 - accuracy: 0.6817
Epoch 94/150
17856/17856 - 23s - loss: 0.7450 - accuracy: 0.6827
Epoch 95/150
17856/17856 - 23s - loss: 0.7455 - accuracy: 0.6816
Epoch 96/150
17856/17856 - 23s - loss: 0.7451 - accuracy: 0.6826
Epoch 97/150
17856/17856 - 24s - loss: 0.7445 - accuracy: 0.6831
Epoch 98/150
17856/17856 - 22s - loss: 0.7436 - accuracy: 0.6825
Epoch 99/150
17856/17856 - 29s - loss: 0.7437 - accuracy: 0.6831
Epoch 100/150
17856/17856 - 22s - loss: 0.7421 - accuracy: 0.6834
Epoch 101/150
17856/17856 - 21s - loss: 0.7422 - accuracy: 0.6831
Epoch 102/150
17856/17856 - 21s - loss: 0.7412 - accuracy: 0.6836
Epoch 103/150
17856/17856 - 21s - loss: 0.7414 - accuracy: 0.6836
Epoch 104/150
17856/17856 - 22s - loss: 0.7407 - accuracy: 0.6839
Epoch 105/150
17856/17856 - 23s - loss: 0.7396 - accuracy: 0.6840
Epoch 106/150
17856/17856 - 22s - loss: 0.7398 - accuracy: 0.6844
Epoch 107/150
17856/17856 - 23s - loss: 0.7390 - accuracy: 0.6843
Epoch 108/150
17856/17856 - 22s - loss: 0.7383 - accuracy: 0.6850
Epoch 109/150
17856/17856 - 24s - loss: 0.7363 - accuracy: 0.6856
Epoch 110/150
17856/17856 - 24s - loss: 0.7365 - accuracy: 0.6859
Epoch 111/150
17856/17856 - 23s - loss: 0.7367 - accuracy: 0.6855
Epoch 112/150
17856/17856 - 23s - loss: 0.7355 - accuracy: 0.6858
Epoch 113/150
17856/17856 - 21s - loss: 0.7350 - accuracy: 0.6855
Epoch 114/150
17856/17856 - 21s - loss: 0.7344 - accuracy: 0.6860
Epoch 115/150
17856/17856 - 21s - loss: 0.7341 - accuracy: 0.6858
Epoch 116/150
17856/17856 - 21s - loss: 0.7343 - accuracy: 0.6856
Epoch 117/150
17856/17856 - 23s - loss: 0.7342 - accuracy: 0.6857
Epoch 118/150
17856/17856 - 25s - loss: 0.7332 - accuracy: 0.6863
Epoch 119/150
17856/17856 - 26s - loss: 0.7313 - accuracy: 0.6872
Epoch 120/150
17856/17856 - 22s - loss: 0.7318 - accuracy: 0.6868
Epoch 121/150
17856/17856 - 24s - loss: 0.7317 - accuracy: 0.6875
Epoch 122/150
17856/17856 - 23s - loss: 0.7303 - accuracy: 0.6875
Epoch 123/150
17856/17856 - 22s - loss: 0.7300 - accuracy: 0.6877
Epoch 124/150
17856/17856 - 21s - loss: 0.7297 - accuracy: 0.6873
Epoch 125/150
17856/17856 - 21s - loss: 0.7292 - accuracy: 0.6875
Epoch 126/150
17856/17856 - 21s - loss: 0.7298 - accuracy: 0.6880

Epoch 127/150
17856/17856 - 28s - loss: 0.7300 - accuracy: 0.6876
Epoch 128/150
17856/17856 - 26s - loss: 0.7292 - accuracy: 0.6878
Epoch 129/150
17856/17856 - 24s - loss: 0.7275 - accuracy: 0.6881
Epoch 130/150
17856/17856 - 23s - loss: 0.7285 - accuracy: 0.6882
Epoch 131/150
17856/17856 - 24s - loss: 0.7277 - accuracy: 0.6881
Epoch 132/150
17856/17856 - 23s - loss: 0.7258 - accuracy: 0.6892
Epoch 133/150
17856/17856 - 24s - loss: 0.7266 - accuracy: 0.6889
Epoch 134/150
17856/17856 - 24s - loss: 0.7252 - accuracy: 0.6897
Epoch 135/150
17856/17856 - 23s - loss: 0.7267 - accuracy: 0.6887
Epoch 136/150
17856/17856 - 23s - loss: 0.7262 - accuracy: 0.6891
Epoch 137/150
17856/17856 - 25s - loss: 0.7246 - accuracy: 0.6891
Epoch 138/150
17856/17856 - 23s - loss: 0.7245 - accuracy: 0.6890
Epoch 139/150
17856/17856 - 23s - loss: 0.7240 - accuracy: 0.6895
Epoch 140/150
17856/17856 - 22s - loss: 0.7227 - accuracy: 0.6901
Epoch 141/150
17856/17856 - 23s - loss: 0.7238 - accuracy: 0.6895
Epoch 142/150
17856/17856 - 22s - loss: 0.7231 - accuracy: 0.6901
Epoch 143/150
17856/17856 - 23s - loss: 0.7228 - accuracy: 0.6911
Epoch 144/150
17856/17856 - 24s - loss: 0.7219 - accuracy: 0.6909
Epoch 145/150
17856/17856 - 25s - loss: 0.7222 - accuracy: 0.6905
Epoch 146/150
17856/17856 - 22s - loss: 0.7217 - accuracy: 0.6904
Epoch 147/150
17856/17856 - 23s - loss: 0.7204 - accuracy: 0.6914
Epoch 148/150
17856/17856 - 24s - loss: 0.7208 - accuracy: 0.6910
Epoch 149/150
17856/17856 - 24s - loss: 0.7215 - accuracy: 0.6903
Epoch 150/150
17856/17856 - 25s - loss: 0.7207 - accuracy: 0.6905

### Evaluating with K fold Cross validation

In [ ]:
#Building the model and evaluating using K fold cross validation
'''
RunName = 'model4'
def createmodel():
    model = Sequential()
    model.add(Dense(10,input_dim=59,activation='relu'))
    modle.add(Dense(5,activation='relu'))
    model.add(Dense(3,activation='softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

seed = 7
np.random.seed(seed)

model = KerasClassifier(build_fn = createmodel,epochs = 50, batch_size = 10, verbose = 0)
kfold = KFold(n_splits=10, shuffle=True, random_state=seed)
results = cross_val_score(model, X, y, cv=kfold)
print(results.mean())'''